body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    background-color: #000;
}

h1, h2, h3, h4 {
    margin: 20px 0 10px 0;
}

header {
    background-color: #000;
    border-bottom: 1px solid seashell;
    min-height: 69px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header img {
    float: left;
    max-height: 50px;
    width: auto;
    padding: 10px;
}

nav {
    float: right;
    display: flex;
    align-items: center;
    height: 69px;
    padding: 0 5px;
}

nav a {
    color: #fff;
    display: inline-block;
    padding: 10px;
    text-decoration: underline;
}

#banner {
    height: 700px;
    background-image: url('../images/img-mission-background.jpg');
    display: flex;
    align-items: center;
}

#banner-strip {
    width: 12000px;
    text-align: center;
    background-color: #000;
}