body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    background-color: #000;
}

h2 {
    margin: 20px 0;
    text-align: center;
}

h4 {
    margin: 10px 0;
}

header {
    background-color: #000;
    border-bottom: 1px solid seashell;
    min-height: 69px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header img {
    float: left;
    max-height: 50px;
    width: auto;
    padding: 10px;
}

nav {
    float: right;
    display: flex;
    align-items: center;
    height: 69px;
    padding: 0 5px;
}

nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: underline;
    color: seashell;
}

#banner {
    height: 700px;
    background-image: url('../images/img-mission-background.jpg');
    display: flex;
    align-items: center;
}

#banner-strip {
    width: 12000px;
    text-align: center;
    background-color: #000;
}

#tea {
    max-width: 1000px;
    padding-top: 60px;
    text-align: center;
    margin: auto;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.cards img {
    width: 300px;
    height: 200px;
    margin: 10px;
}

#locations {
    min-height: 500px;
    max-width: 1200px;
    margin: auto;
    margin-top: 4%;
    background-image: url('../images/img-locations-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -30px;
    text-align: center;
}

#locations-heading {
    padding-top: 60px;
}

#location-cards-container {
    margin: auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.location-x {
    margin: 15px 20px;
    width: 300px;
    background-color: #000;
    opacity: 1;
}

.address {
    margin: 30px 10px;
}

#contact {
    text-align: center;
    height: 200px;
}

#copyright {
    font-size: 0.83em;
    font-weight: bold;
}